*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica,Arial,sans-serif;
}
header{
    background-color: black;
    display: flex;
    justify-content: center;
}
ul img{
    width: 100px;
    margin-right: 25px;
}
#item1{
    margin-left: 25px;
}
nav{
    color: white;
    width: 65%;
    height: 50px;
    margin-top: 13px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    border-bottom: 2px solid white;
}

/* Body */

.container1{
    height: 130vh;
    width: 100%;
    background-color: #af8764;
}
.video{
    display: flex;
    justify-content: center;    
}

video{
    width: 65%;
    height: 500px;
    margin-top: 50px;
}
.content1{
    width: 65%;
    /* border: 2px solid white;
    height: 200px; */
    margin:50px auto;
    text-align: center;
}
.content1 h1, p{
    margin-bottom: 10px;
    color: white;
}
.content1 h1{
    font-size: 2rem;
}
.content1 p{
    font-size: 16px;
}
.btn1{
    width: 200px;
    border: 2px solid white;
    height: 50px;
    margin: 40px auto;
    transition: 0.5s;
}
.btn1 a{
    text-decoration: none;
    color: white;
    line-height: 50px;
}
.btn1:hover{
    transform: scale(1.1);
}

.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.incontainer{
    width: 65%;
    
}
.content2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.incontainer h1{
    font-size: 90px;
    text-align: center;
}
.col1 , .col2{
    width: 47%;
    height: 440px;
}
.col1 span{
    color: rgb(168, 168, 168);
    font-size: 15px;
}
.col1 h3{
    font-size: 20px;
    margin-top: 10px;
}
.col1 p{
    color: black;
    font-size: 16px;
    margin-top: 10px;
}
.col1 img{
    width: 100%;
    transition: 1s;
}
.col2 img{
    width: 100%;
    transition: 1s;
}
.col2 span{
    color: rgb(168, 168, 168);
    font-size: 15px;
}
.col2 h3{
    font-size: 20px;
    margin-top: 10px;
}
.col2 p{
    color: black;
    font-size: 16px;
    margin-top: 10px;
}
.col1 img:hover{
    transform: scale(1.2);
}
.image1{
    overflow: hidden;
}
.col2 img:hover{
    transform: scale(1.2);
}
.image1{
    overflow: hidden;
}

.container3{
    height: 600px;
    width: 100%;
    background-image: url(CSS\ Images/1920x1080-desktop-e-mobility-e-tron-sportback-stage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 49%;
    background-image: url(CSS\ Images/1920x1080-desktop-e-mobility-e-tron-sportback-stage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content3{
    width: 49%;
}
.incontainer2{
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content3 span{
    color: rgb(168, 168, 168);
    font-size: 15px;
}
.content3 h3{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.content3 p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn2{
    height: 50px ;
    width: 200px;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 1s;
}
.btn2:hover{
    transform: scale(1.1);
}

.btn2 a{
    text-decoration: none;
    color: white;
    line-height: 50px;
}
.content3 .txt
{
    font-size: 13px;
    margin-top:20px;
}
.container4{
    height: 100vh;
    width: 100%;
    background-color: rgb(225, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.incontainer4{
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img2{
    width: 49%;
    height: 80%;
    background-image: url(CSS\ Images/2.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    box-shadow: 2px 2px 10px black;
}
.incontainer4{
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.incontainer4 .content3 p{
    color: black;
}
.incontainer4 .content3 h3{
    color: black;
}
.btn3{
    height: 50px ;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 1s;
}
.btn3:hover{
    transform: scale(1.1);
}

.btn3 a{
    text-decoration: none;
    color: black;
    line-height: 50px;
}
.container5{
    height: 100vh;
    width: 100%;
    background-color: rgb(225, 226, 226);
}
.container5 h1{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.incontainer5{
    height: 80vh;
    width: 65%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.item2{
    background-image: url(CSS\ Images/9.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
#img4{
    background-image: url(CSS\ Images/1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
#img2{
    background-image: url(CSS\ Images/7.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
#img3{
    background-image: url(CSS\ Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    width: 100vw;
    height: 70px;
    background-color: black;
}
.center{
    width: 400px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa-brands {
    font-size: 30px;
    color: white;
    padding: 10px;
}
.fa-brands:hover{
    border-bottom: 2px solid white;
}
nav .fa-solid{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
@media only screen and (max-width:500px){
    nav ul li{
        display: none;
    }
    nav{
        width: 80%;
    }
    nav ul{
        justify-content: start;  
    }
    nav .fa-solid{
        display: block;
    }
    video{
        width: 80%;
        height: 300px;
        margin-top: 0;
    }
    .container1{
        height: 65vh;
    }
    .content1{
        width: 80%;
    }
    .content1 h1{
        font-size: 25px;
    }
    .content1 p{
        font-size: 14px;
        text-align: center;
    }
    .btn1{
        margin: 20px auto;
    }
    .container2{
        align-items: start;
        height: 80vh;
    }
    .incontainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .incontainer h1{
        font-size: 37px;
        margin-top: 18px;
    }
    .col1{
        width: 100%;
        height: auto;
    }
    .col1 span {
        font-size: 10px;
    }
    .col1 h3{
        font-size: 12px;
        margin-top: 5px;
        width: 100%;
    }
    .col1 p {
        font-size: 10px;
        margin-top: 5px;
        width: 100%;
    }
    .col2{
        width: 100%;
        height: auto;
    }
    .col2 span {
        font-size: 10px;
    }
    .col2 h3{
        font-size: 12px;
        margin-top: 5px;
    }
    .col2 p {
        font-size: 10px;
        margin-top: 5px;
    }
    .content2{
        flex-direction: column;
        width: 80%;
        height: 90%;
        justify-content: space-evenly;
        margin: 0;
    }
    .image1{
        width: 100%;
    }
    .container3{
        background-size: 100% 100%;
    }
    .incontainer2{
        width: 80%;
        height: auto;
    }
    .img{
        width: 400px;
        height: 200px;
        border: 1px solid white;
    }
    .content3{
        width: 100%;
        margin-top: 10px;
    }
    .content3 span {
        font-size: 10px;
    }
    .content3 h3{
        font-size: 12px;
        margin-top: 5px;
        width: 100%;
    }
    .content3 p {
        font-size: 10px;
        margin-top: 5px;
        width: 100%;
    }
    .content3 .txt{
        font-size: 10px;
    }
    .btn2{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .container4{
        height: 60vh;
        align-items: flex-start
    }
    .incontainer4{
        height: 200px;
        width: 80%;
        margin-top: 30px;
    }
    .img2{
        height: 200px;
        width: 100%;
    }
    .btn3{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .container5 h1{
        font-size: 26px;
    }
    .container5{
        height: 110vh;
    }
    .incontainer5{
        width: 80%;
        height: auto;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-columns: none;
        grid-row-gap: 20px;
        grid-column-gap: 0;
    }
    footer{
        height: 40px;
    }
    .center{
        height: 40px;
        width: 350px;
    }
    .fa-brands {
        font-size: 18px;
    }
}